//@theme "/home/hooman/.local/share/rofi/themes/squared-nord.rasi"
//@theme "/home/hooman/.local/share/rofi/themes/spotlight-dark.rasi"
@theme "/home/hooman/.config/rofi/catpuccin-mocha.rasi"

element {
  orientation: horizontal;
  children: [ element-icon, element-text ];
  spacing: 5px;
}

entry {
    placeholder: "Type here";
    cursor: pointer;
}

element-icon {
    size: 2em;
}

configuration {
    icon-theme: "Papirus-Dark";
}
