[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/uday/Desktop/catman.jpg]
row=2
col=0

[/home/uday/Desktop/todo.txt]
row=9
col=1

[/home/uday/Desktop/asdf.py]
row=10
col=0

[/home/uday/Desktop/important info.txt]
row=10
col=1

[/home/uday/Desktop/Counselling.txt]
row=0
col=0

[/home/uday/Desktop/PaanMasala.exe]
row=1
col=0

[/home/uday/Desktop/Old Firefox Data]
row=9
col=0

[Trash]
row=0
col=19

[/]
row=0
col=18

[/home/uday]
row=1
col=19

