[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/uday/Desktop/Old Firefox Data]
row=4
col=0

[/home/uday/Desktop/asdf.py]
row=10
col=1

[/home/uday/Desktop/Counselling.txt]
row=10
col=0

[/home/uday/Desktop/PaanMasala.exe]
row=6
col=0

[/home/uday/Desktop/catman.jpg]
row=0
col=1

[/home/uday/Desktop/todo.txt]
row=7
col=0

[/home/uday/Desktop/important info.txt]
row=4
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/uday]
row=0
col=2

