[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/uday/Desktop/Old Firefox Data]
row=2
col=1

[/home/uday/Desktop/Play Grand Theft Auto Vice City.desktop]
row=0
col=0

[/home/uday/Desktop/todo.txt]
row=3
col=1

[/home/uday/Desktop/asdf.py]
row=0
col=1

[/home/uday/Desktop/important info.txt]
row=1
col=1

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/uday]
row=3
col=0

