[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/uday/Desktop/Tilling WM.txt]
row=0
col=9

[/home/uday/Desktop/asdf.py]
row=4
col=0

[/home/uday/Desktop/Old Firefox Data]
row=9
col=0

[/home/uday/Desktop/todo.txt]
row=9
col=1

[/home/uday/Desktop/important info.txt]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/uday]
row=2
col=0

